.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 40px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  max-width: 850px;
}

.gallery-item {
  flex: 0 1 calc(100% / 3 - 15px * 2);
  margin: 15px;
  color: black;
}

.gallery-control {
  width: 100%;
  text-align: center;
}

.gallery-image {
  height: 231px;
}

.gallery-picture {
  width: 250px;
  height: 230px;
}

.gallery-link {
  display: block;
  width: 250px;
}
